<nav class="navbar">
  <div class="navbar-inner">
    <div class="navbar-left">
      <div class="navbar-left-items">
        <div class="navbar-title">join.tsh.io</div>
        <div class="navbar-search">
          <input type="text" [(ngModel)]="filter" (change)="onInputChange()" placeholder="Search">
          <img src="assets/Shape.svg" alt="">
        </div>
        <div class="navbar-checkboxes">
          <div class="check-box-groups">
            <input id="active" class="check-box" type="checkbox" [(ngModel)]="isActive" (change)="getByParams()">
            <label class="check-box-lable" for="active">Active</label>
          </div>
          <div class="check-box-groups">
            <input id="promoted" class="check-box" type="checkbox" [(ngModel)]="isPromo" (change)="getByParams()">
            <label class="check-box-lable" for="promoted">Promoted</label>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar-right">
      <div *ngIf="!auth.auth;else img">
        <button class="navbar-button" (click)="logOuttoApp()">Log In</button>
      </div>
      <ng-template #img>
        <div class="navbar-auth" (mouseenter)="logOut=false" (mouseleave)="logOut=true">
          <img src="assets/man.png">
          <div *ngIf="logOut;else hidden">
          </div>
          <ng-template #hidden>
            <div class="container-logout">
              <button class="logOut" (click)="logOutfromApp()">Log Out</button>
            </div>
          </ng-template>
        </div>
      </ng-template>

    </div>

  </div>
</nav>
<div class="product-list" *ngIf="products;else empty">
    <div class="product-item" *ngFor="let product of products| paginate:{itemsPerPage: pageSizem,currentPage:currentPage, totalItems:totaltItems}">
      <app-product [product]="product"></app-product>
    </div>
</div>
<div *ngIf="httpSer.chosenProduct" class="custom-modal">
  <app-modal [product] = "httpSer.chosenProduct"></app-modal>
</div>
<ng-template #empty>
  <div class="container">
    sorry there are no products
  </div>
</ng-template>
<pagination-controls (pageChange)="handlePageChange($event)"
                     maxSize="10"
                     autoHide="true"
                     responsive="true"
                     previousLabel="First"
                     nextLabel="Last"
                     screenReaderPaginationLabel="Pagination"
                     screenReaderPageLabel="page"
                     ></pagination-controls>


