.product-list {
  display: flex;
  background-color: #F2F2F2;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.product-item {
  width: 22%;
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  justify-content: space-between;
}

.navbar {
  width: 100%;
  background-color: #fff;
  height: 144px;
}

.navbar-inner {
  width: 90%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar-left {
  width: 80%;

}

.navbar-left-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navbar-right {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

.navbar-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
}

.navbar-search {
  position: relative;
  width: 45%;
}

.navbar-search input {
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #E0E2EA;
}

.navbar-search img {
  position: absolute;
  right: 10px;
  top: 20px;
}

.navbar-checkboxes {
  width: 20%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.check-box-lable {
  font-size: 14px ;
  font-weight: 600;
  margin-left: 20px;
}
button.navbar-button  {
  background-color: white;
  border:1px solid #4460F7;
  border-radius: 8px;
  padding:10px 20px;
  color: #4460F7;
}
.navbar-auth {
  border-radius:50%;
  width:50px;
}
.navbar-auth img {
  width:100%;
  border-radius: 50%;
}

pagination-controls {
  background-color: #E0E2EA;
  text-align: center;
  width: 100%;
  font-size: 14px;
  color: #1A1B1D;
}
.container-logout {
  position: absolute;
  width: 200px;
  background-color: white;
  right: 100px;
  line-height: 3;
  box-shadow: 2px 2px 7px lightgrey;
  height: 50px;
  text-align: left;
  z-index: 10;
}

button.logOut {
  border:none;
  color: black;
  background-color: white;
}

.custom-modal {
  position: absolute;
  z-index: 100;
  background-color: rgba(26, 27, 29,0.6);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

@media screen and (max-width: 992px) {
  .product-list {
    flex-direction: column;
    justify-content: space-between;
  }

  .product-item {
    width: 45%;
  }
  .navbar {
    height: 180px;
  }
  .navbar-inner {
    width: 80%;
  }
  .navbar-left-items {
    flex-direction: column;
  }
  .navbar-title {
    margin-bottom: 20px;
  }

  .navbar-search {
    position: relative;
    width: 175%;
  }

  .navbar-search input {
    width: 100%;
    padding: 10px;
    margin-left: 60px;
  }

  .navbar-search img {
    right: -45px;
    top: 15px;
  }

  .navbar-checkboxes {
    width: 50%;
  }
  .navbar-right {
    width: 50%;
    height: 110px;
  }
  .navbar-left {
    width:50%
  }
  .check-box-groups {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .check-box-lable {
    font-size: 14px ;
    font-weight: 600;
    margin-left: 20px;
  }
  button.navbar-button  {
    margin-top: -40px;
    padding:5px 10px;
  }
}


